#emoji {
  font-size: 3rem;
  cursor: pointer;
}
#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
